.app{
    width: 450px;
    padding: 30px;
    margin-top: -1.5rem;
    
}
.calendar-container{
    margin-left: -50px;
    border: none;
    height: 248px;
    
}
.react-calendar { 
    width: 430px;
    max-width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:  -5rem;
   }
   .react-calendar__navigation button {
    color: black;
    min-width: 44px;
    background-color: #0FB30D;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom:2rem;
    height: 50px;
    padding-left: 0.5rem;
    width: 5rem;
  
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
    
    
   }
    /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile{
    color: black;
    margin-left: 0px;
    margin-top: -40px;
   }
   .react-calendar__tile{
    height: 30px;
    box-shadow:none;
    
   }
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color:#0FB30D;
    border-radius: 10px;
   }
   .react-calendar__tile--now {
    background:#caedc9;
    border-radius: 10px;
    font-weight: bold;
    color:#0FB30D;
    padding-top: 7px;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background:#0FB30D;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    padding-top: 7px;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #0FB30D;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding-top: 7px;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background:#0FB30D;
    color: white;
    padding-top: 7px;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
    padding-top: 7px;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color:#0FB30D;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background:#0FB30D;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background:#0FB30D;
    color: white;
   }