
.otpverify{
    width: 100%;
    height: 100%;
    position: fixed;

}
.headotp{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
    width: 100%;
    height:80px;
    position: fixed;
    z-index: 9999;
    margin-left: -13.5rem;
}
.logootp{
    margin-top: 15px;
    height:65px;
    width:65px;
    align-items: left;
    margin-left: 15rem;
}
.topppw{
    display:flexbox;
    align-items: right;
    justify-content: right;
    padding: 10px 20px;
    margin-right: -12rem;
    margin-top: 2rem;
}
#accpw{
    display:inline;
    margin-left: -8rem;
}

#button1pw{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px;

}
#forgotconfirm{
    position: absolute;
    width: 200px;
    height: 64px;
    left: 34.5%;
    right: 50%;
    top: 10rem;
    margin-bottom: 15px;
    padding-bottom: 15px;

    font-family:"Inter";
    clear: both;
    display: inline-block;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 42px;
    align-items: center;
    text-align: center;
}
.middcon{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
    padding:20px;
    margin-left: 3rem;
}
#fnewpass{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 20px;
    margin-left: 0rem;
}
#newpassword{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 3rem;
    margin-left: 0rem;
}
#connewpass{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
#connewpass2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
#buttonconf{
    margin-top: 20px;
    width: 170px;
    height: 45px;
    margin-left: 4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}