.register_res {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
#logo{
    width: 100%;

    text-align: left;
}
#logo img{
    width: 80px;
    height: 80px;
    margin-left: 2rem;
}
.kyc{

    margin-top: 5px;
}
#kyc_head{
    font-size: 2rem;
    font-weight: 800;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.kyc_form{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: #000000;
}
input{
    width: 30rem;
    height: 3rem;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
}


#submitbtn{
    margin-top: 2rem;
    height: 3.5rem;
    width: 8rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

}
